{% extends "webapp/base.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
      {% endfor %}
      {% if is_paginated %}
      {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page.obj.previous_page_number}}">Previous</a>
      {% endif %} <!---->
      {% for num in page_obj.paginator.page_range %}
      <!--HERE NUM MEANS PAGES I.E 1,2,3,4,5,6,7,8(TOTAL PAGES)-->
      {% if page_obj.number == num %}
     <!--PAGE_OBJ_NUMBER MEANS CURRNT PAGE NUMBER-->
      <a class="btn btn-info mb=4" href="?page={{ num}}"> {{ num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <!-- add : '3' add +3 to current page-->
      <!--Here num starting from 1- last page number and it checks the elif cond 
      here page_obj.number (current page) and |add -3 means subtract 3 pages from current page i.e
    current page =4 then 4-3=1 so the con is 1>1 false so it won't print 1 in op screen
  for num =2 and 2>1=true and it will be tru until last page so in op screen 2,3,4,5,6,7,8 will display -->
      <a class="btn btn-outline-info mb-4" href ="?page={{num}}">{{num}}</a>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
      {% endif %}
{% endblock %}